/*
Convention de nommage : BEM
Block
Element
Modifier
*/

/* FLUX */
.flux {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

/* START : Header  */
.header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  background-color: darkgray;
}

.header__logo {
  width: 150px;
  filter: brightness(0) saturate(100%) invert(99%) sepia(15%) saturate(57%)
    hue-rotate(234deg) brightness(115%) contrast(100%);
}

.header__list-link {
  display: flex;
  column-gap: 20px;
}
.header__link {
  color: #fff;
}

.header__quick-actions {
  display: flex;
  column-gap: 20px;
}
.header__button {
  background-color: white;
  color: grey;
  padding: 8px 12px;
  border-radius: 8px;
}
.header__button--black {
  background-color: black;
  color: white;
}

/* END : Header  */
