/*
Convention de nommage : BEM
Block
Element
Modifier
*/

/* FLUX */
.flux {
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background-image: url(../img/background.jpg);
}

.button {
  background-color: white;
  color: grey;
  padding: 8px 12px;
  border-radius: 8px;
}
.button--black {
  background-color: black;
  color: white;
}

/* START : Header  */
.header {
  width: 100%;
  position: fixed;
}

.header__container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 150px;
  filter: brightness(0) saturate(100%) invert(99%) sepia(15%) saturate(57%)
    hue-rotate(234deg) brightness(115%) contrast(100%);
}

.header__list-link {
  display: flex;
  column-gap: 20px;
}
.header__link {
  color: #fff;
}

.header__quick-actions {
  display: flex;
  column-gap: 20px;
}
/* END : Header  */

/* START : Hero */
.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  row-gap: 20px;
}

.hero__title {
  color: #fff;
  font-weight: 400;
  font-size: 2.5rem;
}

.hero__description {
  color: #fff;
}

.hero__search-bar {
  background-color: white;
  width: 100%;
  max-width: 976px;
  border-radius: 12px;
  padding: 12px 32px 12px 18px;
  display: flex;
  column-gap: 10px;
}

.hero__field {
  padding: 8px 14px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.hero__label {
  color: grey;
}

.hero__input {
  color: black;
  font-size: 18px;
  width: 300px;
}
.hero__input::placeholder {
  opacity: 1;
}
/* END : Hero */
